{% extends "@PIFront/Front/index.html.twig" %}

{% block body %}
    <h1>Modifier votre Randonnee</h1><br>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

<br>
    <a href="{{ path('Randonnee_index') }}"></a>  <input type="submit" value="Modifier" class="btn btn-round btn-info"  />



    {{ form_end(edit_form) }}


{% endblock %}
