{% extends "@PIFront/Back/indexBack.html.twig" %}
{% block body %}

    <center>
    <div class="alert alert-danger">
        <h3>opss !!! </h3>
       <p>Vérifier la date de votre Formation</p>

        <input type="button" value="Retour">
    </div>
    </center>
{% endblock %}